
.top-container {
  margin-top: 3rem;
}

.featurette-heading {
  margin-top: 10rem;
  font-size: 40px;
}


@media only screen and (max-width: 768px) {
  .featurette-heading {
    font-size: 1.6rem;
    margin-top: 4rem;
  }

  .navbar-brand {
    padding-left: 5%;
  }

  .welcome-text {
    font-size: 1rem;
  }
}
